.tab, .enemiesTable, .label, .table-view, .table-cell, .table-column, .menu-bar, .table-view .filler, .menu-item, .tab-label, .tab-pane .tab-header-area, .tab-header-background, .root{
    -fx-background-color: #282633;
    -fx-font: 16 Minecraft;
    -fx-text-fill: #FFFFFF;
    -fx-text-alignment: center;
    -fx-border-color: #282633;
    -fx-border-width: 2px;
}
.label{
    -fx-background-color: rgba(0,0,0,0);
    -fx-border-width: 0px;
}
.menu-item:hover{
    -fx-background-color: #999999;
}
.context-menu{
    -fx-background-color: #282633;
    -fx-border-color: #282633;
    -fx-border-style: solid;
    -fx-border-width: 1px;
}
.table-row-cell {
    -fx-background-color: #282633;
}
.scroll-bar:horizontal{
    -fx-background-color: #282633;
}
.scroll-bar:vertical{
    -fx-background-color: #282633;
}
