.root{
    -fx-background-color: #282633;
    -fx-background-image: url('file:res/img/mainBackground.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size: 120%;
    -fx-background-position: -60px 0px;
}

.title{
    -fx-text-fill: #fff;
    -fx-font: 68 Minecraft;

}

.button {
    -fx-background-image: url('file:res/img/buttonbg.png');
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-background-size: auto;
    -fx-background-position: center center;
    -fx-text-fill: #fff;
    -fx-font: 24 Minecraft;
}